@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background: url(../img/office-1209640_1920.jpg) no-repeat fixed;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Kufam', cursive;
    margin-top: 180px;
    margin-bottom: 50px;
    font-size: 90px;
    text-align: center;
    color: #388E3C;
    
}

h2 {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: #673AB7;
    text-align: center;
    padding: 15px;
}

#content {
    margin: 20px;
    margin-bottom: 5px;
}

.part {
    margin: 0 auto;
    margin-bottom: 110px;
    width: 90%;
    background-color: whitesmoke;
    padding-top: 20px;
    border-radius: 20px;
    
}

.container {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#depinfo ul li {
    margin-left: 40px;
}

#formation p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
}

.container {
    padding: 19px;
    background-color: whitesmoke;
}

#pgr {
    display: flex;
    justify-content: space-evenly;
}

#programme {
    width: 900px;
}